# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui

serie = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
serie

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:
# seu código aqui
serie = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02], index = [1900, 1920, 1940, 1960, 1980, 2000, 2020])
serie

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

temperatura = pd.Series({1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02})
temperatura

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [10]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0   106.372127   99.378785   95.824812
1   110.130866  107.034681  104.757491
2   109.760428   81.920044  100.240180
3    90.750315  104.260667  105.414107
4   101.333069  100.704089   98.608042
5   100.025887  103.915475  114.935936
6    91.889560  112.021212   82.998800
7   111.813134   96.432487   97.870486
8   112.401825   81.096999  115.006380
9   114.095743   87.406474   97.562292
10  114.577550  114.195117   78.634125
11  108.824263  108.735316  102.410087
12   84.996977  110.590604   91.523747
13   96.870426  102.952843  104.027299
14   95.055555  115.700700   89.223458
15   98.809201   84.696356  105.139902
16  115.271447  104.315306  100.912057
17   84.783352   80.531405   91.710709
18   80.242712  106.474549  106.187992
19  117.882884  113.132896   91.949469

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [28]:
#seu código aqui

df.columns = ['x1', 'x2', 'x3']
df.index = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20']
df

            x1          x2          x3
1   106.372127   99.378785   95.824812
2   110.130866  107.034681  104.757491
3   109.760428   81.920044  100.240180
4    90.750315  104.260667  105.414107
5   101.333069  100.704089   98.608042
6   100.025887  103.915475  114.935936
7    91.889560  112.021212   82.998800
8   111.813134   96.432487   97.870486
9   112.401825   81.096999  115.006380
10  114.095743   87.406474   97.562292
11  114.577550  114.195117   78.634125
12  108.824263  108.735316  102.410087
13   84.996977  110.590604   91.523747
14   96.870426  102.952843  104.027299
15   95.055555  115.700700   89.223458
16   98.809201   84.696356  105.139902
17  115.271447  104.315306  100.912057
18   84.783352   80.531405   91.710709
19   80.242712  106.474549  106.187992
20  117.882884  113.132896   91.949469

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [30]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3']) / 3
df

            x1          x2          x3       media
1   106.372127   99.378785   95.824812  100.525241
2   110.130866  107.034681  104.757491  107.307679
3   109.760428   81.920044  100.240180   97.306884
4    90.750315  104.260667  105.414107  100.141696
5   101.333069  100.704089   98.608042  100.215067
6   100.025887  103.915475  114.935936  106.292433
7    91.889560  112.021212   82.998800   95.636524
8   111.813134   96.432487   97.870486  102.038702
9   112.401825   81.096999  115.006380  102.835068
10  114.095743   87.406474   97.562292   99.688170
11  114.577550  114.195117   78.634125  102.468931
12  108.824263  108.735316  102.410087  106.656555
13   84.996977  110.590604   91.523747   95.703776
14   96.870426  102.952843  104.027299  101.283523
15   95.055555  115.700700   89.223458   99.993238
16   98.809201   84.696356  105.139902   96.215153
17  115.271447  104.315306  100.912057  106.832937
18   84.783352   80.531405   91.710709   85.675155
19   80.242712  106.474549  106.187992   97.635084
20  117.882884  113.132896   91.949469  107.655083

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [34]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1   106.372127   99.378785   95.824812  100.525241  4.610409
2   110.130866  107.034681  104.757491  107.307679  4.675700
3   109.760428   81.920044  100.240180   97.306884  4.577870
4    90.750315  104.260667  105.414107  100.141696  4.606586
5   101.333069  100.704089   98.608042  100.215067  4.607319
6   100.025887  103.915475  114.935936  106.292433  4.666194
7    91.889560  112.021212   82.998800   95.636524  4.560555
8   111.813134   96.432487   97.870486  102.038702  4.625352
9   112.401825   81.096999  115.006380  102.835068  4.633126
10  114.095743   87.406474   97.562292   99.688170  4.602047
11  114.577550  114.195117   78.634125  102.468931  4.629560
12  108.824263  108.735316  102.410087  106.656555  4.669614
13   84.996977  110.590604   91.523747   95.703776  4.561258
14   96.870426  102.952843  104.027299  101.283523  4.617924
15   95.055555  115.700700   89.223458   99.993238  4.605103
16   98.809201   84.696356  105.139902   96.215153  4.566587
17  115.271447  104.315306  100.912057  106.832937  4.671266
18   84.783352   80.531405   91.710709   85.675155  4.450563
19   80.242712  106.474549  106.187992   97.635084  4.581237
20  117.882884  113.132896   91.949469  107.655083  4.678932